[tool.poetry]
name = "product-listings-manager"
version = "1.1.2"
description = "HTTP interface for finding product listings and interacting with data in composedb."
authors = [
  "Ken Dreyer",
  "Red Hat, Inc. and others"
]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/release-engineering/product-listings-manager"
homepage = "https://github.com/release-engineering/product-listings-manager"

include = [
    "LICENSE",
    "README.rst",
    "tox.ini",
    "client.py",
]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
fastapi = "^0.103.2"
gunicorn = "^21.2.0"
python-dateutil = "^2.8.2"

flake8 = {version = "^6.1.0", optional = true}
factory-boy = {version = "^3.3.0", optional = true}
pytest = {version = "^7.4.0", optional = true}
pytest-cov = {version = "^4.1.0", optional = true}
httpx = {version = "^0.25.0", optional = true}

SQLAlchemy = "^2.0.22"
psycopg2-binary = "^2.9.8"
koji = "^1.33.1"

gssapi = "^1.8.2"
python-ldap = "^3.4.3"
requests-gssapi = "^1.2.3"
uvicorn = {extras = ["standard"], version = "^0.23.2"}

[tool.poetry.extras]
test = [
    "flake8",
    "pytest",
    "pytest-cov",
    # required by fastapi.testclient
    "httpx",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
