---
name: Gating

"on":
  pull_request:
  push:
  workflow_dispatch:
    inputs: {}

jobs:
  tests:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7
        with:
          python-version: "3.13"
          enable-cache: true

      - name: Install system dependencies
        uses: nick-invision/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          timeout_minutes: 10
          retry_wait_seconds: 30
          max_attempts: 3
          command: >-
            sudo apt-get update
            && sudo apt-get install
            libkrb5-dev
            libldap2-dev
            libsasl2-dev

      - name: Test with tox
        run: uvx --with tox-uv tox -e py3

      - name: Collect coverage with Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_PARALLEL: true
        run: |
          uvx --with coveralls coveralls --service=github

      - name: Upload coverage to Coveralls
        run: |
          uvx --with coveralls coveralls --finish --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile:
          - Dockerfile

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: ${{ matrix.dockerfile }}

  image-build:
    name: Container Image Build
    needs: hadolint
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: product-listings-manager
      REGISTRY: quay.io/factory2
      GH_REGISTRY: ghcr.io/${{ github.actor }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Update the Application Version
        run: |
          NEW_VERSION=$(./get-version.sh)
          sed -i "s/^version = .*/version = \"$NEW_VERSION\"/" pyproject.toml

      - name: Get image tag from git branch
        run: |
          export TAG=$(sed 's/[^0-9a-zA-Z_.-]/__/g' <<< "$GITHUB_REF_NAME") &&
          echo "VERSION_TAG=$TAG" >> $GITHUB_ENV

      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@7a95fa7ee0f02d552a32753e7414641a04307056 # v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: >-
            ${{ env.VERSION_TAG }}
            ${{ github.ref == 'refs/heads/master' && 'latest' || '' }}
            ${{ github.sha }}
          containerfiles: Dockerfile
          build-args: |
            GITHUB_SHA=${{ github.sha }}
            EXPIRES_AFTER=${{ github.ref == 'refs/heads/master' && 'never' || '30d' }}

      - name: Log in to the image registry
        if: github.event_name == 'push' && github.actor != 'dependabot[bot]'
        uses: redhat-actions/podman-login@4934294ad0449894bcd1e9f191899d7292469603 # v1
        with:
          registry: ${{ secrets.REGISTRY_USER && env.REGISTRY || env.GH_REGISTRY }}
          username: ${{ secrets.REGISTRY_USER || github.actor }}
          password: ${{ secrets.REGISTRY_PASSWORD || secrets.GITHUB_TOKEN }}

      - name: Push Image
        if: github.event_name == 'push' && github.actor != 'dependabot[bot]'
        uses: redhat-actions/push-to-registry@5ed88d269cf581ea9ef6dd6806d01562096bee9c # v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: ${{ secrets.REGISTRY_USER && env.REGISTRY || env.GH_REGISTRY }}
